{#
/**
 * @file
 * Include theme for footer
 *
 */
#}

{% if page.footer %}
  <footer id="footer" role="contentinfo" class="row-inside--md cf">
  	<div class="l-container--lg">
	    {{ page.footer }}
  	</div>
  </footer>
{% endif %}