/********************
** Grid
********************/

.l-faux-table {
  @include bp(medium) {
    display: table;
    table-layout: fixed;
  }
}

.col-three-fifths {
  @include bp(medium) {
    float: left;
    width: 60%;
  }
  .l-faux-table > & {
    @include bp(medium) {
      display: table-cell;
      float: none;
      vertical-align: top;
    }
  }
}

.col-two-fifths {
  @include bp(medium) {
    float: left;
    width: 40%;
  }
  .l-faux-table > & {

    @include bp(medium) {
      display: table-cell;
      float: none;
      vertical-align: top;
    }
  }
}

.col-one-fifth {
  @include bp(medium) {
    float: left;
    width: 20%;
  }
  .l-faux-table > & {
    @include bp(medium) {
      display: table-cell;
      float: none;
      vertical-align: top;
    }
  }
}

.col-three-fourths {
  @include bp(medium) {
    float: left;
    width: 75%;
  }
  .l-faux-table > & {
    @include bp(medium) {
      display: table-cell;
      float: none;
      vertical-align: top;
    }
  }
}

.col-two-thirds {
  @include bp(medium) {
    float: left;
    width: 66.6666%;
  }
  .l-faux-table > & {
    @include bp(medium) {
      display: table-cell;
      float: none;
      vertical-align: top;
    }
  }
}

.col-one-sixth {
  @include bp(medium) {
    float: left;
    width: 16.6666%;
  }
  .l-faux-table > & {

    @include bp(medium) {
      display: table-cell;
      float: none;
      vertical-align: top;
    }
  }
}

.col-half {
  @include bp(small) {
    float: left;
    width: 50%;
  }
  .l-faux-table > & {
    @include bp(small) {
      display: table-cell;
      float: none;
      vertical-align: top;
    }
  }
}

.col-third {
  @include bp(medium) {
    float: left;
    width: 33.3333%;
  }
  .l-faux-table > & {
    @include bp(medium) {
      display: table-cell;
      float: none;
      vertical-align: top;
    }
  }
}

.col-quarter {
  @include bp(medium) {
    width: 25%;
    float: left;
  }
  .l-faux-table > & {
    @include bp(medium) {
      display: table-cell;
      float: none;
      vertical-align: top;
    }
  }
}

.col-three-quarters {
  @include bp(small) {
    float: left;
    width: 100%;
  }
  @include bp(medium) {
    width: 75%;
  }
  .l-faux-table > & {

    @include bp(large) {
      display: table-cell;
      float: none;
      vertical-align: top;
    }
  }
}