/********************
** Lists
********************/

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-left: 0;
    list-style-image: none;
  }
}

.list-inline {
  > li {
    display: inline;
  }
}

.list-inlineBlock {
  > li {
    display: inline-block;
    margin-left: -5px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.list-inlineBlock---atSmall {
  > li {
    display: block;

    @include bp(small) {
      display: inline-block;
      margin-left: -5px;
    }

    &:first-child {

      @include bp(small) {
        margin-left: 0;
      }
    }
  }
}

.list-inlineBlock---atMedium {
  > li {
    display: block;

    @include bp(medium) {
      display: inline-block;
      margin-left: -5px;
    }

    &:first-child {

      @include bp(medium) {
        margin-left: 0;
      }
    }
  }
}