/********************
** Utility
********************/

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

.u-centered-text {
  text-align: center;
}

.u-circular {
  border-radius: 100%;
}

.u-hidden {
  visibility: hidden;
}

.u-inline {
  display: inline;
}

.u-inline-block {
  display: inline-block;
}

.u-no-bottom-margin {
  margin-bottom: 0;
}

.u-no-bottom-padding {
  padding-bottom: 0;
}

.u-no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.u-normal-weight {
  font-weight: normal;
}

.u-offscreen {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.u-relative {
  position: relative;
}

.u-undisplayed {
  display: none;
}

.u-faux-table {
  display: table;
  width: 100%;
  height: 100%;
}

.u-faux-table-align-middle {
  display: table-cell;
  vertical-align: middle !important;
}

.u-faux-table-align-bottom {
  display: table-cell;
  vertical-align: bottom;
}

.cf {
  *zoom: 1;

  &:after {
    clear: both;
  }

  &:before, &:after {
    content: " ";
    display: table;
  }
}

.link-whole-area {
  position: absolute;
  z-index: 666;
  text-indent: -999em;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none !important;
}

.screen-reader-text {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/*****************************
** bLazy load
*****************************/

.b-lazy {
  max-width: 100%;
  opacity: 0;
  transition: opacity 600ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
  &.b-loaded, &.loaded {
    opacity: 1;
  }
}

.no-js {
  .b-lazy, .lazyload {
    opacity: 1;
  }
}

/*****************************
** Background Colors
*****************************/


/*****************************
** Text Colors
*****************************/


/********************
** Pagination
********************/
