/********************
** Breakpoints
********************/

$bp-small:				640;
$bp-medium:				1024;
$bp-large:				1200;
$bp-xlarge:				1500;

/********************
** Media Queries
********************/

$mq-small:				"only screen and (min-width: #{$bp-small}px)";
$mq-medium:				"only screen and (min-width: #{$bp-medium}px)";
$mq-large:				"only screen and (min-width: #{$bp-large}px)";
$mq-xlarge:				"only screen and (min-width: #{$bp-xlarge}px)";
$mq-retina:				"only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx)";

/********************
** Fonts
********************/

$baseFontSize:			16;
$baseLineHeight:		1.8em;

$f-base:					"Helvetica", Arial, Lucida Grande, sans-serif;

$f-primary:				$f-base;
$f-secondary:			Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
$f-icons:					"icons";


/********************
** Colors
********************/

$c-text:				#292526;
$c-white:				#FFFFFF;

$c-primary:				#292526;
$c-secondary:			#29a2dd;
$c-tertiary:			#1a9cdb;

$c-grey:					#efefef;
$c-grey2:					#bababa;

$c-navy:					#084c87;

$c-light-blue:		#e1eaef;


/********************
** Paths
********************/

$p-images:				'../images/';


/********************
** Transition Timing Functions
********************/

$cubic-bezier: cubic-bezier(0.550, 0.085, 0.000, 0.990);